
/MSVC/posc/vc70.pdb
/MSVC/posc/build_env.bat
/MSVC/posc/findhdrdir.exe
/MSVC/posc/findhdrdir.ilk
/MSVC/posc/findhdrdir.pdb
/MSVC/posc/posc_hdrdir.h
/MSVC/Win32
/MSVC/Debug
/MSVC/Release
MSVC\Backup*/
*.ncb
*.pdb
*.suo
*.opensdf
*.sdf
*.filters
*.user
*.obj
*.log
